<% errors.forEach(function(message) { %>
    <div class="flash"><i class="fas fa-exclamation-triangle"></i><%= message %> <p>&times;</p> </div>
<% }) %>

<% success.forEach(function(message) { %>
    <div class="flash-success"><i class="far fa-check-circle"></i><%= message %> <p>&times;</p> </div>
<% }) %>