 <!-- footer starts here -->
 <div class="footer-container">
    <div class="footer-flex">
        <div class="footer-box">
            <h3>Navigation</h3>
            <div class="footer-content">
                <a href="/"><p>Home</p></a>
                <a href="#"><p>Staff</p></a>
                <a href="#"><p>Services</p></a>
            </div>
        </div>

        <div class="footer-box">
            <h3>About</h3>
            <div class="footer-content">
                <a href="/about"><p>School History</p></a>
                <a href="#"><p>Staff</p></a>
                <a href="#"><p>Director</p></a>
            </div>
        </div>

        <div class="footer-box">
            <h3>Contact Us</h3>
            <div class="footer-content">
                <a href="/contact"><p>No. 21 Filin sukuwa Jos</p></a>
                <a href="/contact"><p>+234 803 7011 977</p></a>
                <a href="/contact"><p>bright@bright.com</p></a>
            </div>
        </div>

        <div class="footer-box">
            <h3>Social Media</h3>
            <div class="footer-content">
                <a href="#"><p>Facebook</p></a>
                <a href="#"><p>Twitter</p></a>
                <a href="#"><p>Whatsapp</p></a>
            </div>
        </div>
    </div>
    
    <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <p class="footer-text">copy right &copy; Bright Future Academy Jos</p>
</div>
</div>
<!-- footer ends here -->

<script src="/main-bundled.js" type="text/javascript"></script>
</body>
</html>