
<%- include('includes/header') %>

   

    <!-- About Page starts  -->
        <section class="about-wrapper">
            <div class="about-main-container">
                <div class="about-content-container">
                    <h1 class="heading">ABOUT OUR SCHOOL</h1>
                    <p class="p-styling div-center">Lorem ipsum, nulla saepe blanditiis eaque quisquam tenetur possimus aliquam deleniti voluptate molestias aspernatur magnam quidem nemo explicabo, dignissimos molestiae. Voluptatum dolore asperiores pariatur ex ad esse fugiat minus expedita ea modi? Placeat doloremque laborum repudiandae rem voluptatibus sed suscipit at maxime deserunt, sequi, atque cupiditate necessitatibus ipsa nostrum quo magnam sunt officiis! Debitis illum numquam consequatur ut illo, eum amet dolorem nulla magnam quibusdam soluta perferendis esse adipisci possimus magni deserunt beatae fuga sit eveniet commodi harum! Quidem labore ipsum, itaque reiciendis accusamus quos fugiat accusantium perspiciatis eos?</p>
                </div>
    
                <div class="about-content-img-1">
                    <img src="images/img-13.jpg" alt="Img">
                </div>
            </div>
    
            
            <div class="about-main-container">
                <div class="about-content-img-2">
                    <img src="images/img-14.jpg" alt="Img">
                </div>
    
                <div class="about-content-container">
                    <h1 class="heading">OUR MISSION</h1>
                    <p class="p-styling div-center">Lorem ipsum, nulla saepe blanditiis eaque quisquam tenetur possimus aliquam deleniti voluptate molestias aspernatur magnam quidem nemo explicabo, dignissimos molestiae. Voluptatum dolore asperiores pariatur ex ad esse fugiat minus expedita ea modi? Placeat doloremque laborum repudiandae rem voluptatibus sed suscipit at maxime deserunt, sequi, atque cupiditate necessitatibus ipsa nostrum quo magnam sunt officiis! Debitis illum numquam consequatur ut illo, eum amet dolorem nulla magnam quibusdam soluta perferendis esse adipisci possimus magni deserunt beatae fuga sit eveniet commodi harum! Quidem labore ipsum, itaque reiciendis accusamus quos fugiat accusantium perspiciatis eos?</p>
                </div>
            </div>
    
            <div class="about-main-container">
                <div class="about-content-container">
                    <h1 class="heading">OUR VISION</h1>
                    <p class="p-styling div-center">Lorem ipsum, nulla saepe blanditiis eaque quisquam tenetur possimus aliquam deleniti voluptate molestias aspernatur magnam quidem nemo explicabo, dignissimos molestiae. Voluptatum dolore asperiores pariatur ex ad esse fugiat minus expedita ea modi? Placeat doloremque laborum repudiandae rem voluptatibus sed suscipit at maxime deserunt, sequi, atque cupiditate necessitatibus ipsa nostrum quo magnam sunt officiis! Debitis illum numquam consequatur ut illo, eum amet dolorem nulla magnam quibusdam soluta perferendis esse adipisci possimus magni deserunt beatae fuga sit eveniet commodi harum! Quidem labore ipsum, itaque reiciendis accusamus quos fugiat accusantium perspiciatis eos?</p>
                </div>
    
                <div class="about-content-img-1">
                    <img src="images/img-13.jpg" alt="Img">
                </div>
            </div>
        </section>
        


  <%- include('includes/footer') %>