<%- include('includes/header') %>

<div class="app-container">
    <div class="app-container-inner">
        <form action="#">
            
            <div class="page1">
                <h1>APPLICATION FORM</h1>
                <div class="form-content">
                    <div class="form-content-inner">
                        <div>
                            <label for="first-name">First Name:</label>
                            <input type="text" id="first-name" name="firstName">
                        </div>

                        <div>
                            <label for="last-name">Last Name:</label>
                            <input type="text" id="last-name" name="last-Name">
                        </div>
                    </div>
                </div>

                <div class="form-content">
                    <label for="nationality">Nationality</label>
                    <input type="text" id="nationality" name="nationality" placeholder="e.g Nigeria">
                </div>

                <div class="form-content">
                    <label for="state">State of Origin:</label>
                    <input type="text" id="state" name="state">
                </div>

                <div class="form-btn">
                    <button class="next1">NEXT</button>
                </div>
            </div>

            <div class="page2">
                    <div class="form-content">
                        <label for="first-name">First Name:</label>
                        <input type="text" id="first-name" name="firstName">
                    </div>

                    <div class="form-content">
                        <label for="last-name">Last Name:</label>
                        <input type="text" id="last-name" name="last-Name">
                    </div>

                    <div class="form-content">
                        <label for="nationality">First Name:</label>
                        <input type="text" id="nationality" name="nationality" placeholder="e.g Nigeria">
                    </div>

                    <div class="form-content">
                        <label for="last-name">Last Name:</label>
                        <input type="text" id="last-name" name="last-Name">
                    </div>

                    <div class="form-btn">
                        <button class="previous1">PREVIOUS</button>
                        <button class="next2">NEXT</button>
                    </div>
                </div>

                <div class="page3">
                    <div class="form-content">
                        <label for="first-name">First Name:</label>
                        <input type="text" id="first-name" name="firstName">
                    </div>

                    <div class="form-content">
                        <label for="last-name">Last Name:</label>
                        <input type="text" id="last-name" name="last-Name">
                    </div>

                    <div class="form-content">
                        <label for="nationality">First Name:</label>
                        <input type="text" id="nationality" name="nationality" placeholder="e.g Nigeria">
                    </div>

                    <div class="form-btn">
                        <button class="previous2">PREVIOUS</button>
                        <button class="submit1">SUBMIT</button>
                    </div>
                </div>
        </form>
    </div>
</div>


<%- include('includes/footer') %>