
<%- include('includes/header') %>

<%- include('includes/errors') %>

    <!-- below header start -->
    <div class="container">

        <div class="slide">
            <!-- background slide with h1 -->
            <!-- <div class="img-container">
                <img src="images/img-5.jpg" alt="logo">
                <img src="images/img-8.jpg" alt="logo">
                <img src="images/img-9.jpg" alt="logo">
                <img src="images/img-10.jpg" alt="logo">
                <img src="images/img-11.jpg" alt="logo">
            </div> -->
            <div class="slide-text"><h1>Bulding the Future <br> of Your Kids</h1><p>Bright foresight of Academic Excellence...</p></div>
            <div class="next"><i class="fas fa-angle-right"></i></div>
            <div class="previous"><i class="fas fa-angle-left"></i></div>
        </div>
        
        <div class="sidebar">     <!-- This contain the small side bar with some text -->

            <div class="director">
                <div class="head-design"><h2>THE DIRECTOR</h2></div>
                <img src="images/img-16.jpg" alt="director">
                <p>Bright Future Academy, Jos is a Private School located in the capital of Plateau states
                    Nigeria. It has started operating in Filin Sukuwa in Jos. <a href="#">Read more...</a></p>

            </div>

            <div class="about-text">
                <div class="head-design"><h2>OUR MISSION</h2></div>
                <p>Bright Future Academy, Jos is a Private School located in the capital of Plateau states
                    Nigeria. It has started operating in Filin Sukuwa in Jos. <a href="/about">Read more...</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Below header ends here -->

    

    <!-- News and event div starts here -->
    <div class="news-container">
        <h1 class="heading">News And Events</h1>
        <div class="news-flex">
            <div class="news-box">
                <div class="head-design"><h2>DEBATING COMPETITION</h2></div>
                <a href="#">
                    <p class="news-date">Posted on 29 July, 2019</p>
                    <img src="images/img-13.jpg" alt="img">
                    <p class="news-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam repudiandae beatae iste placeat, nisi voluptatibus temporibus assumenda aliquid, nobis aliquam explicabo consequatur omnis illo facere eveniet ea quam dolor laudantium!</p>
                </a>
            </div>

            <div class="news-box">
                <div class="head-design"><h2>APPLICATION</h2></div>
                <a href="#">
                    <p class="news-date">Posted on 29 July, 2019</p>
                    <img src="images/img-8.jpg" alt="img">
                    <p class="news-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam repudiandae beatae iste placeat, nisi voluptatibus temporibus assumenda aliquid, nobis aliquam explicabo consequatur omnis illo facere eveniet ea quam dolor laudantium!</p>
                </a>
            </div>


            <div class="news-box">
                <div class="head-design"><h2>APPLICATION</h2></div>
                <a href="#">
                    <p class="news-date">Posted on 29 July, 2019</p>
                    <img src="images/img-8.jpg" alt="img">
                    <p class="news-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam repudiandae beatae iste placeat, nisi voluptatibus temporibus assumenda aliquid, nobis aliquam explicabo consequatur omnis illo facere eveniet ea quam dolor laudantium!</p>
                </a>
            </div>

            <div class="news-box">
                <div class="head-design"><h2>TITLE</h2></div>
                <a href="#">
                    <p class="news-date">Posted on 29 July, 2019</p>
                    <img src="images/img-8.jpg" alt="img">
                    <p class="news-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam repudiandae beatae iste placeat, nisi voluptatibus temporibus assumenda aliquid, nobis aliquam explicabo consequatur omnis illo facere eveniet ea quam dolor laudantium!</p>
                </a>
            </div>
        </div>
    </div>

    <!-- News and event div ends here -->

    <!-- application section start -->
    <div class="apply">
        <div class="head-design"><h2>APPLICATION</h2></div>
        <div class="apply-flex">
            <div class="apply-inner">
                <p>You can easily apply for admission into our School by following the steps below</p>
                <ul>
                    <li>Log on to <a href="/">brightfutureacademy.com</a></li>
                    <li>Scroll to the bottom of the page until you see the Application section</li>
                    <li>Click on Apply For Admission</li>
                    <li>Fill the form and submit it</li>
                </ul>
            </div>
    
            <div class="apply-sidebar">
                <img src="images/img-12.jpg" alt="img">
            </div>
        </div>

        <a href="/application" class="apply-admission">APPLY FOR ADMISSION</a>
    </div>

    <!-- application section ends here -->


   <%- include('includes/footer') %>